* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1500px;
    margin: 0 auto;
}

header {
    background: #0F4A2F;
    width: 100%;
    box-shadow: 1px 1px 1px #00000070;
    position: fixed;
    top: 0;
}

nav ul {
    display: flex;
    justify-content: flex-start;

    li {
        padding: 5px 0;
        list-style: none;

        a {
            background-color: #2FAF4A;
            color: #fff;
            text-decoration: none;
            font-size: 22px;
            display: block;
            padding: 10px 25px;
            border: 1px solid #000;
            border-radius: 15px;
            margin: 5px 15px;
            width: 250px;
            text-align: center;
        }

        a:hover {
            background-color: #36d391;
            transform: scale(1.05);
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner {
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    padding: 70px;
}

#banner img {
    width: 250px;
}

#materia {
    background-color: #F5C842;
    display: flex;
    justify-content: space-evenly;
}

#materia__texto {
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    padding-top: 15px;
    padding: 25px;
    h1 {
        font-size: 40px;
        text-align: center;
    }
    P {
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
    }
}

#materia__img img {
    border: 2px solid #000;
    width: 800px;
    height: 100%;
}

#tecnologias {
    background-color: #1C62A8;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tecnologias h1 {
    font-size: 70px;
    margin: 15px;
}

#tecnologias__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1500px;
}

.tecnologias__itens {
    width: 450px;
    margin-bottom: 25px;
}

.tecnologias__itens img {
    width: 100%;
    border-radius: 50%;
}

#resultados {
    background-color: #1A1A1A;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#resultados__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultados__itens {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img{
        width: 500px;
    }
}

.resultados__texto {
    width: 500px;
    padding: 25px;

    h3 {
        margin-bottom: 25px;
    }
}

footer {
    border: 2px solid red;
    background-color: #E6E9EC;
    color: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#rm {
    display: flex;
    gap: 25px;
}

.nomes {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contatos {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fa-brands {
    width: 300px;
    font-size: 35px;
}